{% extends "webgateway/core_html.html" %}

{% block title %}Scripts{% endblock %}

{% block link %}
{% endblock %}

{% block script %}
<style type="text/css">

body {
    font-family: arial;
}
form dir {
    padding:0px;
    margin:0px;
}
.toggle_channel {
    padding:4px; margin:2px; padding-left:6px; border-radius: 6px;
}

#scripts_frame {
    width: 90%;
    height: 90%;
    border: 0;
}
</style>

{% endblock %}

{% block body %}

<div position="fixed" id="draggable" width="50%" height="50%">
    <label>Image IDs</label>
    <input type="text" name="imageIds" {% if imageIds %} value="{{ imageIds }}" {% endif %} /> 
    <a href="{% url 'webtest_scripts' %}">Clear</a>
</div>

{% if imageIds %}
    <iframe id="scripts_frame" src="/webclient/scripts_menu_popup?Image={{ imageIds }}" frameborder="0" allowfullscreen>
{% else %}
    <iframe id="scripts_frame" src="/webclient/scripts_menu_popup" frameborder="0" allowfullscreen></iframe>
{% endif %}

<!-- jQuery script for draggable and resizable -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    // Function to initialize draggable and resizable after iframe is loaded
    function initializeDraggableAndResizable() {
        $("#draggable").draggable();
        $("#draggable").resizable();
    }

    // Attach the function to the load event of the iframe
    $(document).on("load", "#scripts_frame", function() {
        initializeDraggableAndResizable();
    });
</script>

{% endblock %}